development:
  cas_base_url: https://your-cas-server.com:port-number
  cas_user_management_url: localhost:3000
  
  ##### Email Settings #####
  
  email_from: your-email@your-domain.com
  email_smtp_address: your-smtp-server
  email_port: 25
  email_domain: your-domain
  email_username: your-username
  email_password: your-password
  
production:
  cas_base_url: https://your-cas-server.com:port-number
  cas_user_management_url: your-user-management-site.com
  
  ##### Email Settings #####
  
  email_from: your-email@your-domain.com
  email_smtp_address: your-smtp-server
  email_port: 25
  email_domain: your-domain
  email_username: your-username
  email_password: your-password